{##
 # test_entry_alpha_numeric.twig
 # 
 # Transcribe an alpha numeric type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function () {
    } );
  </script>

{% endblock javascript %}

{% block record %}
  <table>
    <tr>
      <td><input id="alpha_num_word" type="text" disabled></td>
    </tr>
  </table>
{% endblock record %}
