{##
 # test_entry_classfication_transcribe.twig
 # 
 # Transcribe a classification type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      $( "input.fields" ).each( function (index) {
      } );

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  <table>
    <tr>
      <td><input id="aft_word" type="text" name="field1" class="fields" disabled></td>
    </tr>
  </table>
{% endblock widget %}

