<?php
/**
 * settings.local.ini.php
 * 
 * Defines local initialization settings for cedar, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// whether or not to run the application in development mode
$SETTINGS['general']['development_mode'] = true;

// defines the details used by cedar when communicating with sabretooth
$SETTINGS['sabretooth']['user'] = 'put sabretooth cedar instance name here';
$SETTINGS['sabretooth']['password'] = 'put sabretooth cedar instance password here';
$SETTINGS['sabretooth']['site'] = 'put sabretooth site name here';

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';
$SETTINGS['path']['APPLICATION'] = '/path/to/cedar';

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = $SETTINGS['path']['APPLICATION'].'/log';

// the url of Sabretooth (cannot be relative)
$SETTINGS['url']['SABRETOOTH'] = 'https://url/to/sabretooth';

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';
